* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  background: url();
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
.navbar {
  background-color: #ff8552;
  height: 4rem;
  width: 100%;
  position: fixed;
  display: inline-block;

  opacity: 0.5;
}

h1 {
  color: #75b9be;
  letter-spacing: 0.5rem;
  width: 90%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
span {
  color: #a8ccc9;
}

.block1 {
  height: 500px;
  background-image: url(./images-background/pexels-marcelo-chagas-1784272.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 8rem;
}
.block2 {
  height: 500px;
  background-image: url(./images-background/pexels-marcelo-chagas-1784272.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.block3 {
  height: 500px;
  background-image: url(./images-background/pexels-cottonbro-studio-6153354.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.block4 {
  height: 500px;
  background-image: url(./images-background/pexels-cottonbro-studio-6153354.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
p {
  text-align: center;
  width: 25rem;
  margin: auto auto;
}

.h6 {
  background-color: #ff8552;
  text-align: end;
  height: 50rem;
  width: 100%;
}
.block5 {
  height: 80px;

  background-color: #ff8552;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.insta {
  width: 2rem;
  height: 2rem;
}
img {
  margin-top: 5px;

  height: 4rem;
  width: 4rem;
}

.fb {
  width: 4rem;
  height: 4rem;
}

.galerie,
.contact {
  color: white;
}
